<div class="center jumbotron">
<% if !logged_in? %>
	

<h1>Log in</h1>

	<%= form_for(:session, url: login_path) do |f| %>
		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.submit "Log in" %>


	<% end %>

<% else %>
	<h1>WELCOME TO MEMBERS-ONLY!</h1>
<% end %>

</div>
